@page
@model IndexModel
@{
    ViewData["Title"] = "Repository View";
}

<h2>Repositories</h2>
<p>Choose a repository to browse the code for</p>
<div class="list-group">
  @foreach (var name in Model.Manager.GetRepositoryNames())
  {
    <a class="list-group-item list-group-item-action" href="/@name/index.html">@name</a>
  }
</div>

<div class="mt-3">
  <a href="/upload">Upload a new repository</a>
</div>