@page
@model Microsoft.SourceBrowser.SourceIndexServer.Models.IndexModel


<span>
  @foreach (var name in Model.Manager.GetProjectNames())
  {
    <a href="/@name/index.html">@name</a>
  }
</span>